$body-color: #324b56;
$body-bg: rgba(255, 255, 255, 0.801);
$font-size-base: 1.1rem;

@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;1,700&family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');